.content {
    font-family: 'Bebas Neue', cursive;
}

.bg-image {
    /* The image used */
    background-image: url("page2bg.jpg");
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 120%; 
    
    /* Center and scale the image nicely */
    background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center; 
}

.quotesau {
    font-size: 160%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(61, 53, 53, 0.4); /* Black w/opacity/see-through */
    color: white;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;
}

.ex {
    display: inline-block;
    margin-left: 30px;
}

.bottom {
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 50%;
}

#planMeal {
    font-size: 160%;
    width: 10%;
    height: 10%;
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    top: 110%;
    right: 47%;
    color: white;
    border-radius: 25px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border: 3px solid #f1f1f1;
    cursor: pointer;
}

#get-plan:hover, .banner:hover {
    background-color: white;
    color: black;
}

.banner {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 140%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    border: 3px solid #f1f1f1;
    text-align: center;
}
