.fa {
    padding: 5px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook , .fa-twitter ,.fa-instagram {
    color: gray;
  }
  
  
  #light{
      /* color: gray; */
      margin-left: 50px;
  }
  .btn {
    background-color: white;
    border: none;
    color: gray;
    padding: 2px 2px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: gray;
  }
  #header2{
      margin-left: 700px;
  }
  #inputBMI{
      width: 100px;
      height: 10px;
  }